name: Dev Stats

on:
  schedule:
    - cron: "0 0 * * *" # minden nap éjfélkor frissít
  workflow_dispatch:

jobs:
  update-stats:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update Dev Stats
        uses: anmol098/waka-readme-stats@master
        with:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SHOW_TITLE: true
          SHOW_TIMEZONE: true
          SHOW_PROJECTS: true
          SHOW_EDITORS: true
          SHOW_LANGUAGES: true
          SHOW_TOTAL: true
          LANG_COUNT: 5
          TIME_RANGE: last_7_days
